[submodule "microservices-demo"]
	path = microservices-demo
	url = https://github.com/Hyperpilotio/microservices-demo
[submodule "locust"]
	path = locust
	url = https://github.com/Hyperpilotio/locust
