[submodule "microservices-demo"]
	path = microservices-demo
	url = https://github.com/Hyperpilotio/microservices-demo
[submodule "load-test"]
	path = load-test
	url = https://github.com/microservices-demo/load-test
[submodule "hyper-locust"]
	path = hyper-locust
	url = https://github.com/Hyperpilotio/hyper-locust
